{% extends "base.html.twig" %}

{% block title %}{{ animaux.name }}{% endblock %}

{% block body %}
<div class="container-fluid well span6">
	<div class="row-fluid">
        {% if animaux.photo %}
		    <img src="{{asset('assets/img/upload/' ~ animaux.photo)}}" alt="{{ animaux.name }}" width="500" height="400">
        {% endif %}
        
        <div class="span8">
            <h3>{{ animaux.name }}</h3>
            <h6>Animal : {{ animaux.type }}</h6>
            <h6>Genre : {{ animaux.genre }}</h6>
            <h6>Âge : {{ animaux.age }} ans</h6>
            <h6>Description : {{ animaux.description }}</h6>
        </div>
        
        {# <div class="span2">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    Action 
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
                    <li><a href="#"><span class="icon-trash"></span> Delete</a></li>
                </ul>
            </div>
        </div> #}
    </div>
</div>
{% endblock %}